{
    "extends": [
        "@sanity/eslint-config-studio",
        "@babel/core",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true
    }
}